<P>
<B>This is a second test.</B>
</P>
<style>
 body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  position: fixed;
  display: block;
  background-color: blue;
  z-index: 0;
}
</style>
<div class="navbar">
	<div class="dropdown">
		<button class="dropbtn">About
		  <i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
		  <a href="/about/index.html">About Redeemer</a>
		  <a href="services/index.html">Worship Services</a>
		  <a href="baptism/index.html">Baptism</a>
		  <a href="supper/index.html">Lord's Supper</a>
		  <a href="absolution/index.html">Confession and Absolution</a>
		  <a href="staff/index.html">Staff</a>
		  <a href="contact/index.html">Contact</a>
		</div>
	</div>
	<a href="education.html">Education</a>
	<div class="dropdown">
		<button class="dropbtn">Events
			<i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
		  <a href="#">Link 1</a>
		  <a href="#">Link 2</a>
		  <a href="#">Link 3</a>
		</div>
	</div>
	<a href="#engage">Engage.html</a>
	<a href="#onlineservices">Services.html</a>
	<a href="#resources">Resources.html</a>
	<a href="#donate">Donate.html</a>
	<a href="#preschool">Preschool.html</a>
</div> 
